Repository wpeereboom/notification-service-nqgrh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @service-reviewers, @architecture-team, @devops-team, @infrastructure-reviewers, @security-team, @qa-team, @test-automation-team, @ci-cd-reviewers, @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/lambda/main.tf
  infrastructure/terraform/modules/lambda/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/lambda/outputs.tf
  infrastructure/terraform/modules/lambda/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/lambda/variables.tf
  infrastructure/terraform/modules/lambda/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/sqs/main.tf
  infrastructure/terraform/modules/sqs/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/sqs/outputs.tf
  infrastructure/terraform/modules/sqs/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/sqs/variables.tf
  infrastructure/terraform/modules/sqs/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/.env.example
  src/backend/.env.example
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/.gitignore
  src/backend/.gitignore
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/README.md
  src/backend/README.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/src/backend/composer.json
  src/backend/composer.json
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/composer.lock
  src/backend/composer.lock
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/package-lock.json
  src/backend/package-lock.json
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/package.json
  src/backend/package.json
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/phpunit.xml
  src/backend/phpunit.xml
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/bin/console
  src/backend/bin/console
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/bin/notify
  src/backend/bin/notify
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/app.php
  src/backend/config/app.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/aws.php
  src/backend/config/aws.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/cache.php
  src/backend/config/cache.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/database.php
  src/backend/config/database.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/logging.php
  src/backend/config/logging.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/queue.php
  src/backend/config/queue.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/services.php
  src/backend/config/services.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/templates.php
  src/backend/config/templates.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/config/vendors.php
  src/backend/config/vendors.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/database/migrations/2023_10_01_000001_create_notifications_table.php
  src/backend/database/migrations/2023_10_01_000001_create_notifications_table.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/database/migrations/2023_10_01_000002_create_templates_table.php
  src/backend/database/migrations/2023_10_01_000002_create_templates_table.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/database/migrations/2023_10_01_000003_create_delivery_attempts_table.php
  src/backend/database/migrations/2023_10_01_000003_create_delivery_attempts_table.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/database/migrations/2023_10_01_000004_create_vendor_status_table.php
  src/backend/database/migrations/2023_10_01_000004_create_vendor_status_table.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/database/seeders/DatabaseSeeder.php
  src/backend/database/seeders/DatabaseSeeder.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/database/seeders/TemplateSeeder.php
  src/backend/database/seeders/TemplateSeeder.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/lambda/handlers/NotificationHandler.php
  src/backend/lambda/handlers/NotificationHandler.php
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important - the last matching pattern takes precedence.

# Root Configuration Files
# All root level configuration files require core team review
/* @core-team

# Backend Services
# Service implementations require backend team and service reviewers
/src/backend/src/Services/** @backend-team @service-reviewers
# Service contracts and interfaces require backend and architecture teams
/src/backend/src/Contracts/** @backend-team @architecture-team

# Infrastructure Configuration
# Terraform and infrastructure files require DevOps and infrastructure reviewer approval
/infrastructure/terraform/** @devops-team @infrastructure-reviewers

# Security Components
# Authentication and authorization services require security and backend team review
/src/backend/src/Services/Auth/** @security-team @backend-team
# Encryption utilities require security team review
/src/backend/src/Utils/Encryption.php @security-team

# Testing
# Test suites and configurations require QA and test automation team review
/src/test/** @qa-team @test-automation-team

# CI/CD Configuration
# GitHub Actions workflows require DevOps and CI/CD reviewer approval
/.github/workflows/** @devops-team @ci-cd-reviewers

# Documentation
# All documentation files require docs team and technical writer review
/**/*.md @docs-team @technical-writers
