Repository wpeereboom/notification-service-nqgrh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @service-reviewers, @architecture-team, @devops-team, @infrastructure-reviewers, @security-team, @qa-team, @test-automation-team, @ci-cd-reviewers, @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/Push/SnsService.php
  src/backend/src/Services/Vendor/Push/SnsService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/Sms/TelnyxService.php
  src/backend/src/Services/Vendor/Sms/TelnyxService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/Sms/TwilioService.php
  src/backend/src/Services/Vendor/Sms/TwilioService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Utils/CircuitBreaker.php
  src/backend/src/Utils/CircuitBreaker.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Utils/Encryption.php
  src/backend/src/Utils/Encryption.php
Owners: @security-team

Add public-samples/notification-service-nqgrh3/src/backend/src/Utils/RateLimiter.php
  src/backend/src/Utils/RateLimiter.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Utils/Validator.php
  src/backend/src/Utils/Validator.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Feature/NotificationTest.php
  src/backend/tests/Feature/NotificationTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Feature/TemplateTest.php
  src/backend/tests/Feature/TemplateTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Feature/VendorTest.php
  src/backend/tests/Feature/VendorTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Auth/JwtServiceTest.php
  src/backend/tests/Unit/Services/Auth/JwtServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Cache/RedisCacheServiceTest.php
  src/backend/tests/Unit/Services/Cache/RedisCacheServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Notification/NotificationServiceTest.php
  src/backend/tests/Unit/Services/Notification/NotificationServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Queue/SqsServiceTest.php
  src/backend/tests/Unit/Services/Queue/SqsServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Template/TemplateServiceTest.php
  src/backend/tests/Unit/Services/Template/TemplateServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/VendorFactoryTest.php
  src/backend/tests/Unit/Services/Vendor/VendorFactoryTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/VendorServiceTest.php
  src/backend/tests/Unit/Services/Vendor/VendorServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/Email/IterableServiceTest.php
  src/backend/tests/Unit/Services/Vendor/Email/IterableServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/Email/SendGridServiceTest.php
  src/backend/tests/Unit/Services/Vendor/Email/SendGridServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/Email/SesServiceTest.php
  src/backend/tests/Unit/Services/Vendor/Email/SesServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/Push/SnsServiceTest.php
  src/backend/tests/Unit/Services/Vendor/Push/SnsServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/Sms/TelnyxServiceTest.php
  src/backend/tests/Unit/Services/Vendor/Sms/TelnyxServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Services/Vendor/Sms/TwilioServiceTest.php
  src/backend/tests/Unit/Services/Vendor/Sms/TwilioServiceTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Utils/CircuitBreakerTest.php
  src/backend/tests/Unit/Utils/CircuitBreakerTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Utils/EncryptionTest.php
  src/backend/tests/Unit/Utils/EncryptionTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Utils/RateLimiterTest.php
  src/backend/tests/Unit/Utils/RateLimiterTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/tests/Unit/Utils/ValidatorTest.php
  src/backend/tests/Unit/Utils/ValidatorTest.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/test/.gitignore
  src/test/.gitignore
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/README.md
  src/test/README.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/src/test/composer.json
  src/test/composer.json
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/package.json
  src/test/package.json
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/Config/jest.config.js
  src/test/Config/jest.config.js
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/Config/k6.config.js
  src/test/Config/k6.config.js
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/Config/phpunit.xml
  src/test/Config/phpunit.xml
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/Config/test.env
  src/test/Config/test.env
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/E2E/Scenarios/BulkNotificationScenarioTest.php
  src/test/E2E/Scenarios/BulkNotificationScenarioTest.php
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/E2E/Scenarios/MultiChannelScenarioTest.php
  src/test/E2E/Scenarios/MultiChannelScenarioTest.php
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/E2E/Scenarios/PasswordResetScenarioTest.php
  src/test/E2E/Scenarios/PasswordResetScenarioTest.php
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/E2E/Scenarios/VendorFailoverScenarioTest.php
  src/test/E2E/Scenarios/VendorFailoverScenarioTest.php
Owners: @qa-team, @test-automation-team

Add public-samples/notification-service-nqgrh3/src/test/E2E/Scenarios/WelcomeEmailScenarioTest.php
  src/test/E2E/Scenarios/WelcomeEmailScenarioTest.php
Owners: @qa-team, @test-automation-team

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important - the last matching pattern takes precedence.

# Root Configuration Files
# All root level configuration files require core team review
/* @core-team

# Backend Services
# Service implementations require backend team and service reviewers
/src/backend/src/Services/** @backend-team @service-reviewers
# Service contracts and interfaces require backend and architecture teams
/src/backend/src/Contracts/** @backend-team @architecture-team

# Infrastructure Configuration
# Terraform and infrastructure files require DevOps and infrastructure reviewer approval
/infrastructure/terraform/** @devops-team @infrastructure-reviewers

# Security Components
# Authentication and authorization services require security and backend team review
/src/backend/src/Services/Auth/** @security-team @backend-team
# Encryption utilities require security team review
/src/backend/src/Utils/Encryption.php @security-team

# Testing
# Test suites and configurations require QA and test automation team review
/src/test/** @qa-team @test-automation-team

# CI/CD Configuration
# GitHub Actions workflows require DevOps and CI/CD reviewer approval
/.github/workflows/** @devops-team @ci-cd-reviewers

# Documentation
# All documentation files require docs team and technical writer review
/**/*.md @docs-team @technical-writers
