Repository wpeereboom/notification-service-nqgrh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @service-reviewers, @architecture-team, @devops-team, @infrastructure-reviewers, @security-team, @qa-team, @test-automation-team, @ci-cd-reviewers, @docs-team, @technical-writers

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important - the last matching pattern takes precedence.

# Root Configuration Files
# All root level configuration files require core team review
/* @core-team

# Backend Services
# Service implementations require backend team and service reviewers
/src/backend/src/Services/** @backend-team @service-reviewers
# Service contracts and interfaces require backend and architecture teams
/src/backend/src/Contracts/** @backend-team @architecture-team

# Infrastructure Configuration
# Terraform and infrastructure files require DevOps and infrastructure reviewer approval
/infrastructure/terraform/** @devops-team @infrastructure-reviewers

# Security Components
# Authentication and authorization services require security and backend team review
/src/backend/src/Services/Auth/** @security-team @backend-team
# Encryption utilities require security team review
/src/backend/src/Utils/Encryption.php @security-team

# Testing
# Test suites and configurations require QA and test automation team review
/src/test/** @qa-team @test-automation-team

# CI/CD Configuration
# GitHub Actions workflows require DevOps and CI/CD reviewer approval
/.github/workflows/** @devops-team @ci-cd-reviewers

# Documentation
# All documentation files require docs team and technical writer review
/**/*.md @docs-team @technical-writers

Add public-samples/notification-service-nqgrh3/src/backend/lambda/handlers/ProcessorHandler.php
  src/backend/lambda/handlers/ProcessorHandler.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/lambda/handlers/TemplateHandler.php
  src/backend/lambda/handlers/TemplateHandler.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/lambda/handlers/VendorHandler.php
  src/backend/lambda/handlers/VendorHandler.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/lambda/layers/php82/bootstrap
  src/backend/lambda/layers/php82/bootstrap
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/lambda/layers/php82/runtime.php
  src/backend/lambda/layers/php82/runtime.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Commands/NotifyCommand.ts
  src/backend/src/Cli/Commands/NotifyCommand.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Commands/StatusCommand.ts
  src/backend/src/Cli/Commands/StatusCommand.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Commands/TemplateCommand.ts
  src/backend/src/Cli/Commands/TemplateCommand.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Commands/VendorCommand.ts
  src/backend/src/Cli/Commands/VendorCommand.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Interfaces/CommandInterface.ts
  src/backend/src/Cli/Interfaces/CommandInterface.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Services/ApiService.ts
  src/backend/src/Cli/Services/ApiService.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Services/ConfigService.ts
  src/backend/src/Cli/Services/ConfigService.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Services/OutputService.ts
  src/backend/src/Cli/Services/OutputService.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Types/index.ts
  src/backend/src/Cli/Types/index.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Utils/formatter.ts
  src/backend/src/Cli/Utils/formatter.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Cli/Utils/validator.ts
  src/backend/src/Cli/Utils/validator.ts
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Contracts/NotificationInterface.php
  src/backend/src/Contracts/NotificationInterface.php
Owners: @backend-team, @architecture-team

Add public-samples/notification-service-nqgrh3/src/backend/src/Contracts/TemplateInterface.php
  src/backend/src/Contracts/TemplateInterface.php
Owners: @backend-team, @architecture-team

Add public-samples/notification-service-nqgrh3/src/backend/src/Contracts/VendorInterface.php
  src/backend/src/Contracts/VendorInterface.php
Owners: @backend-team, @architecture-team

Add public-samples/notification-service-nqgrh3/src/backend/src/Exceptions/Handler.php
  src/backend/src/Exceptions/Handler.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Exceptions/NotificationException.php
  src/backend/src/Exceptions/NotificationException.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Exceptions/TemplateException.php
  src/backend/src/Exceptions/TemplateException.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Exceptions/VendorException.php
  src/backend/src/Exceptions/VendorException.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Models/DeliveryAttempt.php
  src/backend/src/Models/DeliveryAttempt.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Models/Notification.php
  src/backend/src/Models/Notification.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Models/Template.php
  src/backend/src/Models/Template.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Models/VendorStatus.php
  src/backend/src/Models/VendorStatus.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Providers/AppServiceProvider.php
  src/backend/src/Providers/AppServiceProvider.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Providers/EventServiceProvider.php
  src/backend/src/Providers/EventServiceProvider.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Providers/QueueServiceProvider.php
  src/backend/src/Providers/QueueServiceProvider.php
Owners: none

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Auth/JwtService.php
  src/backend/src/Services/Auth/JwtService.php
Owners: @security-team, @backend-team

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Cache/RedisCacheService.php
  src/backend/src/Services/Cache/RedisCacheService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Notification/NotificationService.php
  src/backend/src/Services/Notification/NotificationService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Queue/SqsService.php
  src/backend/src/Services/Queue/SqsService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Template/TemplateService.php
  src/backend/src/Services/Template/TemplateService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/VendorFactory.php
  src/backend/src/Services/Vendor/VendorFactory.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/VendorService.php
  src/backend/src/Services/Vendor/VendorService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/Email/IterableService.php
  src/backend/src/Services/Vendor/Email/IterableService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/Email/SendGridService.php
  src/backend/src/Services/Vendor/Email/SendGridService.php
Owners: @backend-team, @service-reviewers

Add public-samples/notification-service-nqgrh3/src/backend/src/Services/Vendor/Email/SesService.php
  src/backend/src/Services/Vendor/Email/SesService.php
Owners: @backend-team, @service-reviewers
