Repository wpeereboom/notification-service-nqgrh3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @service-reviewers, @architecture-team, @devops-team, @infrastructure-reviewers, @security-team, @qa-team, @test-automation-team, @ci-cd-reviewers, @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/.github/workflows/backend-cd.yml
  .github/workflows/backend-cd.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/notification-service-nqgrh3/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/notification-service-nqgrh3/.github/workflows/test-cd.yml
  .github/workflows/test-cd.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/notification-service-nqgrh3/.github/workflows/test-ci.yml
  .github/workflows/test-ci.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/notification-service-nqgrh3/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/infrastructure/.gitignore
  infrastructure/.gitignore
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/README.md
  infrastructure/README.md
Owners: @docs-team, @technical-writers

Add public-samples/notification-service-nqgrh3/infrastructure/docker/Dockerfile.terraform
  infrastructure/docker/Dockerfile.terraform
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/docker/docker-compose.terraform.yml
  infrastructure/docker/docker-compose.terraform.yml
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/scripts/apply-terraform.sh
  infrastructure/scripts/apply-terraform.sh
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/scripts/destroy-terraform.sh
  infrastructure/scripts/destroy-terraform.sh
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/scripts/init-terraform.sh
  infrastructure/scripts/init-terraform.sh
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/scripts/setup-aws-credentials.sh
  infrastructure/scripts/setup-aws-credentials.sh
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/scripts/validate-terraform.sh
  infrastructure/scripts/validate-terraform.sh
Owners: none

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/api_gateway/main.tf
  infrastructure/terraform/modules/api_gateway/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/api_gateway/outputs.tf
  infrastructure/terraform/modules/api_gateway/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/api_gateway/variables.tf
  infrastructure/terraform/modules/api_gateway/variables.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team, @infrastructure-reviewers

Add public-samples/notification-service-nqgrh3/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team, @infrastructure-reviewers

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important - the last matching pattern takes precedence.

# Root Configuration Files
# All root level configuration files require core team review
/* @core-team

# Backend Services
# Service implementations require backend team and service reviewers
/src/backend/src/Services/** @backend-team @service-reviewers
# Service contracts and interfaces require backend and architecture teams
/src/backend/src/Contracts/** @backend-team @architecture-team

# Infrastructure Configuration
# Terraform and infrastructure files require DevOps and infrastructure reviewer approval
/infrastructure/terraform/** @devops-team @infrastructure-reviewers

# Security Components
# Authentication and authorization services require security and backend team review
/src/backend/src/Services/Auth/** @security-team @backend-team
# Encryption utilities require security team review
/src/backend/src/Utils/Encryption.php @security-team

# Testing
# Test suites and configurations require QA and test automation team review
/src/test/** @qa-team @test-automation-team

# CI/CD Configuration
# GitHub Actions workflows require DevOps and CI/CD reviewer approval
/.github/workflows/** @devops-team @ci-cd-reviewers

# Documentation
# All documentation files require docs team and technical writer review
/**/*.md @docs-team @technical-writers
